/****************************** HTML COMPONENT ****************************/

html {
    margin: 10px;
}
h1 {
    background-color: #337ab7;
    color: white;
    padding-top: 25px;
    padding-bottom: 10px;
    padding-left: 30px;
    margin: 0px;
    margin-bottom: 2px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 45px;
    border-radius: 5px;
    border-bottom: 1px solid transparent;
}
h2 {
    color: #303030;
    margin-bottom: 40px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 600;
    font-size: 36px;
}
span {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 22px;
    padding-right: 20px;
    color: #575757;
}
a:hover, a.router-link-active {
    background-color: #0a7bff;
}
.selected {
    background-color: #575757 !important;
    color: white;
}

/****************************** TO DO COMPONENT ***************************/

/* TOP To DO */

.top-todos {
    width: 880;
    margin-left: auto;
    margin-right: auto;
}
.top-todo {
    background-color: #0054B0;
    color: white;
    width: 200px;
    height: 80px;
    margin: 10px;
    text-align: center;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 20px;
    padding-top: 60px;
    padding-bottom: 80px;
    float: left;
}
.spanToDoPower {
    color: lightblue;
    font-size: 16px;
    padding: 0px;
}

/* To DO LIST */

#divNoToDo {
    font-size: 20px;
    font-style: italic;
    color: darkgray;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.todos {
    margin: 0 0 2em 0;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    padding: 0;
    width: 30em;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 16px;
}
.todos li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0em;
    height: 1.6em;
    border-radius: 4px;
}
.todos li.selected:hover {
    color: white;
}
.todos li:hover {
    color: white;
    background-color: #0a7bff;
    left: .1em;
}
.todos .text {
    position: relative;
    top: -3px;
}
.todos .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0em 0.7em;
    background-color: #0054B0;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0px 0px 4px;
}
.spanToDoPowerList {
    color: #666666;
    font-size: 14px;
    padding-left: 5px;
}

/* List color */

.todo {
    border-color: rgba(230, 52, 33, 1) !important;
}
.in-progress {
    border-color: rgba(238, 181, 10, 1) !important;
}
.done {
    border-color: rgba(127, 190, 34, 1) !important;
}
.todo:hover {
    background-color: rgba(230, 52, 33, 0.8);
}
.in-progress:hover  {
    background-color: rgba(238, 181, 10, 0.8);
}
.done:hover  {
    background-color: rgba(127, 190, 34, 0.8);
}
.todo-status {
    background-color: rgb(230, 52, 33);
}
.in-progress-status {
    background-color: rgb(238, 181, 10);
}
.done-status {
    background-color: rgb(127, 190, 34);
}
.order-selected {
    background-color: #269abc;
}

/* TO DO INFORMATION */

.todo-informations {
    text-align: center;
}

/* TO DO DETAIL */

.todo-detail {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 20px;
}
.divToDoDetailFields {
    margin-top: 10px;
}
.todoField {
    font-size: 16px;
    font-weight: bold;
}

/**************************** BOOTSTRAP COMPONENTS *************************/

.label-primary {
    color: #bdd9ec;
}
.panel-footer {
    text-align: center;
    background-color: #337ab7;
    color: white;
}
.panel-heading {
    font-size: 22px;
    font-weight: 200;
}
.panel-info {
    margin-left: 15px;
    margin-right: 15px;
}
.list-group {
    margin-bottom: -10px !important;
}
.list-group-item-heading {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 2px;
    font-size: 18px;
    font-weight: 400;
}
.list-group-item-text {
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
li.list-group-item {
    padding: 0px;
    cursor: pointer;
    margin-bottom: 10px;
    border-width: 1px !important;
    border-style: solid !important;
    border-radius: 10px !important;
}
li.list-group-item:hover {
    color: white;
    font-weight: bold;
}
.row {
    padding-left: 10px;
    padding-right: 10px;
}
detail-to-do.col-md-6 {
    margin-top: 15px;
}
